<footer id="footer" class="footer">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
         <div class="logoEn">
            <a href="index.html" class="logo d-flex align-items-center">
                <div class="photo" style="background-image: url('assets/image/image-removebg-preview (1).png'); height: 200px; width: 200px; background-size: contain; background-position: center; background-repeat: no-repeat    ;">
                    <!-- <img src="assets/image/image-removebg-preview (1).png" id="image"> -->
                </div>
               </a>
         </div>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links ">
          <h4 class="fs-5">PAGES</h4>
          <ul>
            <li class="fs-5">
                <i class="bi bi-chevron-right"></i>
                <a>Acceuil</a>
            </li>
            <li class="fs-5">
                <i class="bi bi-chevron-right"></i>
                <a>Guide</a>
            </li>
            <li class="fs-5">
                <i class="bi bi-chevron-right"></i>
                <a>Ressources</a>
            </li>
            <li class="fs-5">
                <i class="bi bi-chevron-right"></i>
                <a>Etude de cas</a>
            </li>
            <li class="fs-5">
                <i class="bi bi-chevron-right"></i>
                <a>Forum</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>POLITIQUES</h4>
          <ul>
            <li>
                <i class="bi bi-chevron-right"></i>
                <a>Condition d'utilisation</a>
            </li>
            <li>
                <i class="bi bi-chevron-right"></i>
                <a>Politique de Confidentialité</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>CONTACTEZ-NOUS</h4>
          <p>
            <i class="bi bi-geo-alt-fill"></i>
            Mermoz
         </p>
          <p>
            <i class="bi bi-envelope-fill"></i>
            exemplegmail.com</p>
            <div class="form-floating mb-3" style="background-color: white;">
                <input type="email" class="form-control " id="floatingInputDisabled"  disabled>
                <label for="floatingInputDisabled" class="text-dark ">Email address</label>
              </div>
              <div class="form-floating mb-3" style="background-color: white;">
                <input type="email" class="form-control " id="floatingInputDisabled"  disabled>
                <label class="text-dark  text-center">S'inscrire</label>
              </div>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
        <hr>
      <p>&copy; <span>Copyright</span> <strong class="px-1"></strong> <span>SIMPLONSENEGAL</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
      </div>
    </div>

  </footer><!-- End Footer -->
 