<footer>
    <div class="Container_Footer">
        <div class="Section_Container">
            <img src="/src/assets/images/logo.jpeg" alt="" width="250px" height="140px">

        </div>
        <div class="footer_Menu">
            <h5><span class="souligner">Pa</span>ges</h5>
             <p><a href="">Accueil</a></p>
            <p><a href="">Boutique</a></p>
        </div>
        <div class="footer_Menu">
            <h5>Liens</h5>
            <p><a href="">Qui sommes nous ?</a></p>
            <p><a href="">Politique de confidentialité</a></p>
            <p><a href="">Contact</a></p>
        </div>
        <div class="footer_Menu">
            <h5>Nos reseaux sociaux</h5>
            <ul class="reseau d-flex justify-content-between ">
                <li><i class="bi bi-facebook" style="color: #ff7900;"></i></li>
                <li><i class="bi bi-twitter"  style="color: #ff7900;"></i></li>
                <li><i class="bi bi-instagram"  style="color: #ff7900;"></i></li>
                <li><i class="bi bi-youtube"  style="color: #ff7900;"></i></li>
            </ul>
            
        </div>
    </div>
  <hr>
    <div class="Copyright text-center mb-5">© Copyright- Simplon-2023</div>
</footer>
