<div class="container  mx-auto">
    <div class="cartes">
        <div class="mesCartes row  gap-3">
            <div class="card col-md-5" id="carteProjet">
                <div class="container mt-2">
                    <p class="d-flex justify-content-between mt-md-0"><span class="fw-bold titre">Lorem</span> </p>
                    <p class="card-text ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere odit aliquid
                        nostrum blanditiis id laboriosam nobis rem maiores accusamus tempora dignissimos, hic aspernatur,
                        tempore voluptates perspiciatis, vero officia nam architecto.</p>
                    <button class="btn btnClose mt-1 consulter">Voir</button>
                </div>
            </div>
            <div class="card col-md-5" id="carteProjet">
                <div class="container mt-2">
                    <p class="d-flex justify-content-between mt-md-0"><span class="fw-bold titre">Lorem</span> </p>
                    <p class="card-text ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere odit aliquid
                        nostrum blanditiis id laboriosam nobis rem maiores accusamus tempora dignissimos, hic aspernatur,
                        tempore voluptates perspiciatis, vero officia nam architecto.</p>
                    <button class="btn btnClose mt-1 consulter">Voir</button>
                </div>
            </div>
            <div class="card col-md-5" id="carteProjet">
                <div class="container mt-2">
                    <p class="d-flex justify-content-between mt-md-0"><span class="fw-bold titre">Lorem</span> </p>
                    <p class="card-text ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere odit aliquid
                        nostrum blanditiis id laboriosam nobis rem maiores accusamus tempora dignissimos, hic aspernatur,
                        tempore voluptates perspiciatis, vero officia nam architecto.</p>
                    <button class="btn btnClose mt-1 consulter">Voir</button>
                </div>
            </div>
            <div class="card col-md-5" id="carteProjet">
                <div class="container mt-2">
                    <p class="d-flex justify-content-between mt-md-0"><span class="fw-bold titre">Lorem</span> </p>
                    <p class="card-text ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere odit aliquid
                        nostrum blanditiis id laboriosam nobis rem maiores accusamus tempora dignissimos, hic aspernatur,
                        tempore voluptates perspiciatis, vero officia nam architecto.</p>
                    <button class="btn btnClose mt-1 consulter">Voir</button>
                </div>
            </div>
            <div class="card col-md-5" id="carteProjet">
                <div class="container mt-2">
                    <p class="d-flex justify-content-between mt-md-0"><span class="fw-bold titre">Lorem</span> </p>
                    <p class="card-text ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere odit aliquid
                        nostrum blanditiis id laboriosam nobis rem maiores accusamus tempora dignissimos, hic aspernatur,
                        tempore voluptates perspiciatis, vero officia nam architecto.</p>
                    <button class="btn btnClose mt-1 consulter">Voir</button>
                </div>
            </div>
            <div class="card col-md-5" id="carteProjet">
                <div class="container mt-2">
                    <p class="d-flex justify-content-between mt-md-0"><span class="fw-bold titre">Lorem</span> </p>
                    <p class="card-text ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere odit aliquid
                        nostrum blanditiis id laboriosam nobis rem maiores accusamus tempora dignissimos, hic aspernatur,
                        tempore voluptates perspiciatis, vero officia nam architecto.</p>
                    <button class="btn btnClose mt-1 consulter">Voir</button>
                </div>
            </div>

            <div class="pagination p1">
                <ul>
                    <a href="#">
                        <li><</li>
                    </a>
                    <a class="is-active" href="#">
                        <li>1</li>
                    </a>
                    <a href="#">
                        <li>2</li>
                    </a>
                    <a href="#">
                        <li>3</li>
                    </a>
                    <a href="#">
                        <li>4</li>
                    </a>
                    <a href="#">
                        <li>5</li>
                    </a>
                    <a href="#">
                        <li>6</li>
                    </a>
                    <a href="#">
                        <li>></li>
                    </a>
                </ul>
            </div>

        </div>
        <div class="even">
            <h5>Evenements</h5>
            <div class="cardEven">
                <img src="https://demo.htmlcodex.com/1858/startup-website-template/img/blog-1.jpg" style="width:80px;">
                <p>Webinaire sur les Tendances Technologiques Futures</p>
            </div>
            <div class="cardEven">
                <img src="https://demo.htmlcodex.com/1858/startup-website-template/img/blog-1.jpg" style="width:80px;">
                <p>Webinaire sur les Tendances Technologiques Futures</p>
            </div>
            <div class="cardEven">
                <img src="https://demo.htmlcodex.com/1858/startup-website-template/img/blog-1.jpg" style="width:80px;">
                <p>Webinaire sur les Tendances Technologiques Futures</p>
            </div>
            <div class="cardEven">
                <img src="https://demo.htmlcodex.com/1858/startup-website-template/img/blog-1.jpg" style="width:80px;">
                <p>Webinaire sur les Tendances Technologiques Futures</p>
            </div>
        </div>
    </div>

</div>
